@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E2B3A;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-visible {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
  /* Custom scrollbar thumb and track colors */
}

.scrollbar-visible::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  /* Thumb color */
  border-radius: 10px;
}

.scrollbar-visible::-webkit-scrollbar-track {
  background-color: #2d3748;
  /* Track color */
}